#static-box{
    background-color: red;
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    border: solid slateblue 2px;
    display: inline-block; 

    position: static;
  }
  #relative-box{
    background-color: rgb(255, 116, 116);
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    border: solid slateblue 2px;
    display: inline-block; 

    position: relative;
    down: 20px;
    right: 30px
}
.container {
    height: 200px;
    width: 300px;
    border: solid slateblue 4px;
    position: relative;
}

.absolute-box {
    background-color: black;
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    border: solid purple 2px;
    position: absolute;
    top: 10px;
    left: 15px;
}

.fixed-box {
    background-color: pink;
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    border: solid rgb(46, 0, 46) 2px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.sticky-box {
    background-color: rgb(17, 128, 168);
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    position: sticky;
    top: 0;
}

.background-image {
    height: 300px;
    width: 2000;

    background: url('https://th.bing.com/th/id/OIP.S7VyKsYplmCQzr4VABvmwAHaEK?w=295&h=180&c=7&r=0&o=5&dpr=2&pid=1.7') no-repeat center center;
    background-size: cover;
}