
#box1{
    background-color: pink;
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    border: solid slateblue 2px;
    display: inline-block; 
  
}
#box2{
    background-color: rgb(235, 228, 130);
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    border: solid slateblue 2px;
    display: inline-block; 


  
}
#box3{
    background-color: rgb(9, 195, 117);
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    border: solid slateblue 2px;
    display: inline-block; 

    flex-
    top: 0px;
    position: sticky;
    z-index: -1;
  
}
#box4{
    background-color: red;
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    border: solid slateblue 2px;
    display: inline-block; 

    flex-grow: 4;
    top: 0px;
    position: sticky;
  

}
#box5{
    background-color: blueviolet;
    color: white;
    height: 100px;
    width: 100vw;
    align-content: center;
    border: solid slateblue 2px;
    display: inline-block; 

    position: fixed;
    bottom: 0px
  
}
#container{
    height: 1000px;
    width: 600px;
    border: solid slateblue 4px;
    display: flex; 
    flex-direction: row;
     

    /*
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    */

}
#boxA{
    background-color: rgb(238, 162, 201);
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    border: solid slateblue 2px;
    display: inline-block; 

    flex-grow: 2;
    top: 0px;
    position: sticky;
  

   
}
@media (width 600px){
    #boxA: 
}

#boxB{
    background-color: rgb(177, 126, 224);
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    border: solid slateblue 2px;
    display: inline-block; 

    transition: all;
    transition-duration: 2s;
    position: sticky;
    top: 0px
}

#boxB:hover{
    background-color: purple ;
    border: 4px dashed red;
    font-size: 40px;
    width: 200px;
    height: 200px;
    background-image: "";
    background-repeat: ;
    background-size: contain;
    transform: translate(-20px)


}