#static-box{
    background-color: red;
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    border: solid slateblue 2px;
    display: inline-block; 

    position: static;
  }
  #relative-box{
    background-color: rgb(255, 116, 116);
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    border: solid slateblue 2px;
    display: inline-block; 

    position: relative;
    down: 20px;
    right: 30px
}
.container {
    height: 200px;
    width: 300px;
    border: solid slateblue 4px;
    position: relative;
}

.absolute-box {
    background-color: black;
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    border: solid purple 2px;
    position: absolute;
    top: 10px;
    left: 15px;
}

.fixed-box {
    background-color: pink;
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    border: solid rgb(46, 0, 46) 2px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.sticky-box {
    background-color: rgb(17, 128, 168);
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    position: sticky;
    top: 0;
}

.background-image {
    height: 300px;
    width: 200px;

    background: url('https://th.bing.com/th/id/OIP.S7VyKsYplmCQzr4VABvmwAHaEK?w=295&h=180&c=7&r=0&o=5&dpr=2&pid=1.7') no-repeat center center;
    background-size: cover;
}

.background-image-repeat {
    height: 1000px;s
    width: 1000px;
    background: url('https://th.bing.com/th/id/OIP.S7VyKsYplmCQzr4VABvmwAHaEK?w=295&h=180&c=7&r=0&o=5&dpr=2&pid=1.7') repeat;
}

.box1 {
    background-color: rgb(255, 55, 0);
    color: white;
    height: 200px;
    width: 200px;
    align-content: end;
    position: absolute;
    z-index: 1;
}

.box2 {
    background-color: rgb(195, 255, 116);
    color: rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 2;
}

.border{
    height: 200px;
    width: 300px;
    border: solid slateblue 4px;
    position: relative;
    display: flex;
    justify-content: space-evenly;

}
   #boxA{
    background-color: rgb(238, 162, 201);
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    border: solid slateblue 2px;
  
  

   
}

#boxB{
    background-color: rgb(177, 126, 224);
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    border: solid slateblue 2px;


}

#boxC{
    background-color: rgb(224, 126, 165);
    color: white;
    height: 100px;
    width: 100px;
    align-content: center;
    border: solid slateblue 2px;
}